.body {
    position: relative;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden; /* 이미지가 테두리를 넘어가지 않도록 설정 */
}

.image {
    position: relative;
    border-radius: 15px;
}

