.body {
    width: 100%;
}

.section {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.content {
    display: flex;
}

.slider {
    width: 70%;
}

.todayBox {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 1rem;
}

@media (max-width: 1492px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .todayBox {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .slider {
        width: 100%;
    }
}